body {
    background-color: #a5957ff5;
}

img {
    margin: 0px 162px;
}

h1 {
    padding: 8px 262px;
    border-bottom: solid;
}

ul {
    padding: 8px 162px;
    font-size: 24px;
    font-weight: bold;
}